#wrap{
    text-align:center;
}
#corpusSelect, #table{
    display:inline-block;
}
table, tr, td{
    border:1px solid black;
    border-collapse:collapse;
    padding:5px;
    color:white;
}
p{
    font-size:larger;
    color:white;
}
#wrap {
    background-color: indianred;
}