option{
    text-align:center;
}
#selection {
    align-content: center;
    display: inline-block;
}
#wrap{
    text-align:center;
}
.sentanceButtons {
    margin-right: 10px;
    margin-left: 10px;
}
#rightAnswer{
    color: green;
    font-size:40px;
    font-weight:bold;
}
#wrongAnswer {
    color: red;
    font-size:40px;
    font-weight:bold;
}