html{
    font-family:Arial, Helvetica, sans-serif;
}
#displayCorpus {
    color: azure;
}
option, h1{
    text-align:center;
}
.selection {
    align-content: center;
    display: inline-block;
}
#toggler {
    align-content: center;
    display: inline-block;
}
.back{
    background-color:mediumpurple;
}
.jumbotron{
    color:purple;
}

#getSentButton {
    align-content: center;
    display: inline-block;
}
#wrap{
    text-align:center;
}
#rightAnswer{
    color: green;
    font-size:40px;
    font-weight:500;
}
#wrongAnswer {
    color: red;
    font-size:40px;
    font-weight:500;
}
#inputSentance {
    font-size: 40px;
    color: #211a23;
}
.textColor{
    color:azure;
    font-size:large;
}
.buttongap{
    margin-left:10px;
    margin-right:10px;
}


